{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load collection_tags %}

{% get_pictures self.collection.id as pictures %}
<div id="_{{ block_id }}" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for picture in pictures %}
        {% image picture width-1000 as picture_image %}
        <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <img class="d-block w-100" src="{{picture_image.url}}" alt="First slide">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" data-bs-target="#_{{ block_id }}" type="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" data-bs-target="#_{{ block_id }}" type="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>
