{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<picture>
    {% image value.image_src width-1000 format-webp as image_webp %}
    <source srcset="{{ image_webp.url }}" type="image/webp" class="{{ value.image_class }}" alt="{{ value.image_alt }}">

    {% image value.image_src width-1000 format-png as image_png %}
    <source srcset="{{ image_png.url }}" type="image/png" class="{{ value.image_class }}" alt="{{ value.image_alt }}">

    {% image value.image_src width-1000 format-png as format_png %}
    <img src="{{ format_png.url }}" class="{{ value.image_class }}" alt="{{ value.image_alt }}">
</picture>
