{% load wagtailimages_tags %}
{% load wagtailcore_tags %}


{% if value.background_style.image %}
{% image value.background_style.image width-700 format-png as image_png %}
<div class="bg-image {{value.jumbotron_class}}"
     style="background-image: url('{{ image_png.url }}'); height: {{value.background_style.height}}vh;">
    {% if value.background_style.background_color_class %}
    <div class="{{value.background_style.background_color_class}}" style="background-color: {{value.background_style.background_color}};">
        <div class="d-flex justify-content-center align-items-center h-100">
        {% for block in self.content %}
        {% include_block block %}
        {% endfor %}
        </div>
    </div>
    {% else %}
        <div class="d-flex justify-content-center align-items-center h-100">
        {% for block in self.content %}
        {% include_block block %}
        {% endfor %}
        </div>
    {% endif %}
</div>
{% else %}
<div class="{{value.jumbotron_class}}">
    {% for block in self.content %}
    {% include_block block with block_id=block.id|stringformat:"s" %}
    {% endfor %}
</div>
{% endif %}
