{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}

<div class="bg-image">
    {% include_block value.image %}
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="d-flex justify-content-center align-items-center h-100">
            {% for block in self.content %}
            {% include_block block %}
            {% endfor %}
        </div>
    </div>
</div>
